/*ThemeName:nitalionsclub
*/


.text-decoration{
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
.shippori{
    font-family: 'Shippori Mincho', serif;
}
.h-menu{
    color: black;
    margin-left: 1.8rem;
    font-family: 'Shippori Mincho', serif;
}

body{
    background-color: rgba(176, 176, 176, 0.13);
}

.margin-0-auto{
    margin: 0 auto;
}
.center{
    text-align: center;
}
.top{
    margin-top: 10rem;
}
.top2{
    margin-top: 3rem;
}
.bottom{
    margin-bottom: 20rem;
}
.text-decoration{
    text-decoration: none;
}
.midasi1{
    font-size: 2.2rem;
}
.midasi2{
    font-size: 2.8rem;
}
@media screen and (max-width: 600px) {
    .midasi1{
        font-size: 2rem;
    }
    .midashi2{
        font-size: 1.4rem !important;
    }
    .kaicho-name {
        font-size: 1.8rem;
    }
    .lions-text-wrap{
        width: 90%;
    }
    .lions-text {

    }
}
.radius{
    border-radius: 5px;
}
.fb-wrap{
    width: 500px;
}

@media screen and (max-width: 430px) {

}



figure{
    text-align:center;
}
figcaption{
    color:white;
    font-size: 1.1rem;
}

.kaicho{
    text-align: center;
}
.kaicho-name{
    font-size: 2.2rem;
    margin-left: 0rem;
}
.kaicho-img{
    width: 10rem;
    border-radius: 6px;
}
.lions-text{
    font-size: 1.1rem;
}
.topics-wrap{
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
    width: 1000px;
    text-align: center;
}
.topics{
    font-size: 5rem;
}
/*--------------------------------------
カード型_06
--------------------------------------*/
.l-wrapper_06{
    width: 20rem;
    height: 30rem;
    display: inline-block;
    margin-right: 2rem;
    overflow-wrap:  break-word;
}

.l-wrapper_06:hover{
    transform: translateY(-5px);
    transition: all .5s;
}
.card_06 {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
}

.card-img_06 {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
}
.card-content_06 {
    padding: 8px 20px 20px;
    height: 18rem;
}
.card-title_06 {
    font-size: 1.6em;
    color: #333;
    font-weight: 700;
}
.card-text_06 {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0.2em;
}
.card-link_06 {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
}
.card-link_06 a {
    text-decoration: none;
    color: #4f96f6;
    margin: 0 10px;
}
.card-link_06 a:hover {
    color: #6bb6ff;
}

.card-content_06 p {
    margin-bottom:0;
}
.wrap {
    width: 1100px;
    margin: 0 auto;
}
.banner-wrap{
    width: 350px;
}
.adress-wrap{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

@media screen and (max-width: 400px) {

}

.adress-name{
    font-size: 1.8rem;
}
.adress1{
    margin-top: 1rem;
}


/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media screen and (max-width: 600px) {
   /*  _:-ms-lang(x)::backdrop, _:lang(x)::-ms-, _:lang(x)::-moz-placeholder, _:lang(x)+_:-webkit-full-screen-document, */.pc {
        display: none !important;
    }
    .sp {
        display: block !important;
        width: 100% !important;
    }

    .adress-wrap{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}